/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(106, 212, 198, 0.87);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: Roboto, sans-serif;
}

/* Container */
.container {
  width: 40%;
  background: lightgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 2px grey;
}

.heading {
  padding: 5px;
  background: rgb(168, 42, 141);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: whitesmoke;
}

i {
  font-size: 40px;
  user-select: none;
}

.game-section {
  margin: 10px;
}

/* Player */
.player-actions {
  color: blue;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
}

/* Computer */
.computer-actions {
  color: red;
  display: flex;
  justify-content: space-evenly;
}

.player-action {
  color: blue;
}

.computer-action {
  color: red;
}

/* Reset */
.fa-sync-alt {
  margin-top: 20px;
  cursor: pointer;
}

/* Results */
.game-results {
  text-align: center;
  font-size: 30px;
  margin: 0;
  height: 50px;
}

/* Media Query */
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
    height: auto;
  }
}
